body {
    margin: 10px;
}

ul {
    padding-left: 10px;
}

li {
    background: white;
    list-style-type: none;
    padding: 5px;
}

a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background: #ddd;
}
